<h1>Liste Messages</h1>
<ul>
    {% for message in listMessages %}
        <li>
            <p>{{ message.name }}</p>
            <p>{{message.message}}</p>
            <p>{{message.datetime|date('Y-m-d h:m:s') }}</p>



        </li>
    {% endfor %}
</ul>